#header-img-banner-logo {
  margin-left: 1.875rem;
}

#dropdown-language {
  margin-right: 2.3369rem;
}

.navbar-custom {
  background-color: #1b3b6f;
}

.navbar {
  min-height: 5rem;
}

.head-table {
  background-color: #1b3b6f;
  color: white;
}

.dropdown-custom {
  background: #9ed8db;
  border-radius: 8px;
  margin-left: 1.875rem;

  min-width: 3.4375rem;
  min-height: 1.25rem;
}

.find {
  width: 90%;
  margin: auto;
}

.drop{
  width: 40%;
}

.customButton {
  border: 1px solid gray;
  border-radius: 3px;
}

.customButtonSearch {
  border: 1px solid gray;
  border-radius: 3px;
  background-color: #1c7293;
  color: white;
}
